<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
<title>Autotennis</title>
</head>
<body>

    <h1>Autotennis</h1>
    <h3>Registrer bruker(kun første gang du bruker formen)</h3>
    <form name="user_form" method="post" action="submit_user">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Passord:</label><br>
        <input type="text" id="password" name="password"><br>    
        <label for="vikar_id">Vikar ID:</label><br>
        <input type="text" id="vikar_id" name="vikar_id"><br><br>
        <input type="submit" value="Registrer bruker">
    </form>
    <br>
    <br>

    <h3>Skriv inn email og link til økta du ønsker å delta på:)</h3>
    <form name="event_form" method="post" action="submit_event">
        <label for="url">URL:</label><br>
        <input type="text" id="url" name="url"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br><br>
        <input type="submit" value="Meld på">
    </form>
    <br>
    <br>

    <h3>For sent ute? Frykt ikke! Skriv inn email og link og du vil bli meldt på dersom det blir ledig plass:)</h3>
    <form name="event_form" method="post" action="submit_waitlist">
        <label for="url">URL:</label><br>
        <input type="text" id="url" name="url"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br><br>
        <input type="submit" value="Sett på venteliste">
    </form>

</body>
</html>